Repository AI21Labs/ai21-typescript, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, studio, aws, azure, vertex

Notes added by 'git notes add'
  e5399f7d7e549569524c2a156b76ef86a870afa7
Labels: none

Notes added by 'git notes add'
  e70ecbcd88f502d3337a3e83c54cc38f6a96290b
Labels: none

Notes added by 'git notes add'
  272ccb396956271325a2767df3b96f2c6ed514aa
Labels: none

Notes added by 'git notes add'
  5b5f4d58a09b04fc073bf44ebba20a487a2f94d4
Labels: none

feat: change files path to library (PLAT-962)
  examples/studio/conversational-rag/rag-engine.ts
  package-lock.json
  src/AI21.ts
  src/index.ts
  src/resources/files/index.ts
  src/resources/index.ts
  src/resources/library/files.ts
  src/resources/library/index.ts
  src/resources/library/library.ts
  src/resources/maestro/index.ts
Labels: studio

feat: added maestro functions
  examples/studio/maestro/maestro-run-create-and-poll.ts
  examples/studio/maestro/maestro-run.ts
  src/AI21.ts
  src/resources/chat/completions.ts
  src/resources/index.ts
  src/resources/maestro/beta.ts
  src/resources/maestro/index.ts
  src/resources/maestro/maestro.ts
  src/resources/maestro/runs.ts
  src/types/index.ts
  src/types/maestro/MaestroRunRequest.ts
  src/types/maestro/MaestroRunResponse.ts
  src/types/maestro/index.ts
Labels: studio

feat: added tests
  src/types/chat/ChatModel.ts
  tests/unittests/resources/chat/completions.test.ts
  tests/unittests/resources/maestro/maestro.test.ts
  tests/unittests/resources/maestro/runs.test.ts
  tests/unittests/resources/rag-engine.test.ts
Labels: none

feat: added readme + fixes following comments
  README.md
  examples/studio/maestro/maestro-run-create-and-poll.ts
  src/Constants.ts
  src/errors.ts
  src/resources/chat/completions.ts
  src/resources/maestro/runs.ts
  src/types/chat/ChatModel.ts
  src/types/maestro/MaestroRunRequest.ts
Labels: documentation

feat: added new tools
  README.md
  examples/studio/maestro/maestro-run-create-and-poll.ts
  src/resources/maestro/runs.ts
  src/types/maestro/MaestroRunRequest.ts
  src/types/maestro/MaestroTools.ts
  tests/unittests/resources/maestro/runs.test.ts
Labels: documentation

feat: review
  src/resources/maestro/runs.ts
  src/types/maestro/MaestroRunRequest.ts
  src/types/maestro/MaestroRunResponse.ts
  src/types/maestro/MaestroTools.ts
  tests/unittests/resources/maestro/runs.test.ts
Labels: none

feat: trigger quality on push
  .github/workflows/quality-checks.yml
Labels: none

feat: trigger quality on push
  .github/workflows/quality-checks.yml
Labels: none

feat: readme
  README.md
Labels: documentation

fix: request / response types
  src/index.ts
  src/types/maestro/MaestroRunResponse.ts
  tests/unittests/resources/maestro/runs.test.ts
Labels: none

Notes added by 'git notes add'
  c69977e34ee325e50543e344e4ef5c8b135c5e9e
Labels: none

Notes added by 'git notes add'
  a18b651a81b5a574b839874d718acf7b54888153
Labels: none

docs: add CLAUDE.md for AI assistant guidance
  CLAUDE.md
Labels: documentation

.github/labeler.yml:

# Add 'Documentation' label to any change to .md files within the entire repository
documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
  - head-branch: ["^feat", "feat:"]

# Add 'release' label to any PR that is opened against the `main` branch
fix:
  - head-branch: ["^bugfix", "fix:"]

ci:
  - head-branch: ["^ci", "ci:"]
  - changed-files:
      - any-glob-to-any-file:
          - .github/*

studio:
  - changed-files:
      - any-glob-to-any-file:
          - src/AI21.ts

aws:
  - changed-files:
      - any-glob-to-any-file:
          - src/AI21BedrockClient.ts
          - src/AI21SagemakerClient.ts

azure:
  - changed-files:
      - any-glob-to-any-file:
          - src/AI21AzureClient.ts

vertex:
  - changed-files:
      - any-glob-to-any-file:
          - src/AI21VertexClient.ts
